@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?1ilyo9");
  src: url("../fonts/icomoon.eot?1ilyo9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1ilyo9") format("truetype"), url("../fonts/icomoon.woff?1ilyo9") format("woff"), url("../fonts/icomoon.svg?1ilyo9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  font-size: 32px;
  color: #070707;
}

.icon-facebook:hover {
  color: blueviolet;
}

.icon-instagram:before {
  content: "\e901";
  font-size: 32px;
  color: #070707;
}

.icon-telegram:before {
  content: "\e902";
  font-size: 32px;
  color: #070707;
}

.icon-viber:before {
  content: "\e903";
  font-size: 32px;
  color: #070707;
}

@font-face {
  font-family: Gilroy-MediumItalic;
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Bold;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

._lock {
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  padding: 32px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #828282;
}

.nav-menu {
  gap: 60;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-branding {
  display: none;
  font-size: 20px;
  color: #070707;
}

.nav-link {
  font-size: 18px;
  color: #828282;
  font-weight: bold;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #070707;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background-color: black;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.intro .row .row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .row .row-header h1 {
  max-width: 55px;
}

.intro .row .row-header p {
  max-width: 190px;
  line-height: 22px;
}

.intro .row .row-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin: 0px -27px 27px 0px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.intro .row .row-header span a {
  padding: 0px 5px;
  color: #828282;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.intro .row .row-header span a:hover {
  color: #070707;
}

.intro .row .row-header span a.active {
  color: #070707;
}

.no-webp .intro .row .img{
  background-image: url("../img/img-min.png"); }

.intro .row .img {
  height: 390px;
  max-width: 940px;
  overflow: hidden;
  margin-bottom: 120px;
  background-size: cover;
  background-position-y: -341px;
}

.intro h1 {
  font-size: 47px;
  line-height: 59px;
}

.about {
  background: #F6F6F6;
}

.about .row {
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
  padding: 120px 0px 105px;
}

.about .row h2 {
  margin-bottom: 30px;
}

.about .row p {
  line-height: 22px;
}

.about .row p:not(:last-child) {
  margin-bottom: 45px;
}

.skills .row {
  text-align: center;
  padding: 90px 0px 110px;
}

.skills .row .subtitle {
  margin: 70px 0px 83px;
}

.skills .row .my-skills {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .row .my-skills .skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 170px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .row .my-skills .skills-item .img {
  height: 120px;
  margin: 0 auto;
  max-width: 90px;
}

.skills .row .my-skills .skills-item .img img {
  width: 100%;
}

.skills .row .my-skills .skills-item p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 22px;
  padding: 23px 0px 30px;
}

.skills .row .my-skills .skills-item span img:not(:last-child) {
  margin-right: 10px;
}

.portfolio {
  background: #F6F6F6;
}

.portfolio .row {
  text-align: center;
  padding: 112px 0px 90px;
}

.portfolio .row h2 {
  margin-bottom: 47px;
}

.portfolio .row .img {
  height: 100%;
  max-width: 940px;
  margin-bottom: 45px;
}

.portfolio .row .img:not(:first-child) {
  margin-top: 100px;
}

.portfolio .row .img img {
  height: 100%;
  width: 100%;
}

.portfolio .row a {
  color: #070707;
  line-height: 22px;
}

.portfolio .row a:hover {
  text-decoration: underline;
}

.portfolio .row .portfolio-box {
  text-align: end;
  padding-top: 40px;
}

.portfolio .row .portfolio-box .all-works {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.portfolio .row .portfolio-box .all-works:hover {
  color: #666;
}

.portfolio .row .portfolio-box .all-works::after {
  content: "❒";
  margin-left: 10px;
}

.contacts .row {
  text-align: center;
  padding: 115px 0px 45px;
}

.contacts .row .subtitle {
  margin: 0 auto;
  max-width: 276px;
  line-height: 22px;
  padding: 20px 0px 30px;
}

.contacts .row .img-row {
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 220px;
  margin: 70px auto 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .row .img-row .img {
  height: 40px;
  max-width: 40px;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

footer .row {
  font-size: 14px;
  color: #828282;
  text-align: center;
  padding-bottom: 120px;
}

footer span {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer span a {
  color: #828282;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

footer span a:hover {
  color: #070707;
}

.offer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

.portfolio-title {
  font-size: 60px;
  margin: 0 auto;
}

.back {
  color: #000;
  font-size: 40px;
}

.work {
  margin-top: 60px;
  text-align: center;
}

.work .img {
  margin-bottom: 30px;
}

.work .img img {
  width: 100%;
}

.work a {
  color: #000;
  margin: 0 auto;
}

.work:last-child {
  margin-bottom: 100px;
}

body {
  font-weight: 400;
  font-family: Gilroy-Bold;
  height: 100%;
}

h2 {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 940px;
  padding: 0px 15px;
}

.btn {
  color: #fff;
  font-size: 16px;
  padding: 13px 23px;
  border-radius: 23px;
  background: #070707;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn:hover {
  background: #828282;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .intro .row .img {
    background-position-y: -185px;
  }
}

@media (max-width: 768px) {
  .nav-branding {
    display: block;
    font-size: 30px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    top: 0;
    gap: 0;
    gap: 40px;
    width: 100%;
    left: -100%;
    height: 100vh;
    overflow: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #262626;
  }

  .nav-link {
    font-size: 35px;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .intro h1 {
    display: none;
  }

  .intro .row .img {
    background-position: top;
  }

  .skills .row .my-skills {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .skills .row {
    margin-bottom: 30px;
  }

  .intro .row .img {
    margin-bottom: 50px;
  }

  .about .row {
    padding: 40px 0px 60px;
  }

  .portfolio .row {
    padding: 40px 0px 60px;
  }

  .contacts .row {
    padding: 40px 0px 60px;
  }

  .skills .row {
    padding: 40px 0px 60px;
  }

  .portfolio .row .img:not(:first-child) {
    margin-top: 50px;
  }
}

webp .intro .row .img{ background-image: url(../img/img-min.webp); }