.skills__card {
    text-align: center;

    .card__img-offer {
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        img {
            width: 80px;
        }
    }

    .card__title {
        margin: 24px 0px 40px;
    }

    .stars {
        gap: 9px;
        display: flex;

        img {
            width: 26px;
        }
    }
}