@import '../../app/Wars.scss';

.go-back-link {
    color: $dod-color;
    transition: $main-transition;

    &:hover {
        color: $dark-color;
    }
}

.works__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.works__portfolio {
    padding: 0px 0px 50px;
}

.works__section-title {
    padding: 50px 0px 100px;
}