@import './Resize.scss';
@import './Wars.scss';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $dark-color;
    font-family: $main-font;
    background-color: $white-color;
}

body.hiden {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1240px;
    padding: 0px 40px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
}

.section-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}

.langs {
    gap: 5px;
    display: flex;
    // margin-right: -24px;
    // margin-bottom: 24px;
    margin-right: -10px;
    margin-bottom: 10px;
    transform: rotate(-90deg);

    .langs__item {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: $dod-color;
    }

    .langs__item--active {
        color: $dark-color;
    }
}

.button {
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 25px;
    color: $white-color;
    transition: $main-transition;
    background-color: $dark-color;

    &:hover {
        color: $dark-color;
        background-color: $dod-color;
    }
}

.all-work {
    align-items: center;
    display: inline-flex;

    .all-works__link {
        color: $dark-color;
        margin-right: 10px;
    }

    span {
        transition: $main-transition;
    }

    &:hover span {
        transform: translate(5px);
    }
}