@import '../../app/Wars.scss';

.portfolio__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio__title {
    margin-bottom: 47px;
}

.portfolio__img {
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
}

.portfolio__link {
    margin-top: 48px;
    color: $dark-color;
    margin-bottom: 100px;
    text-decoration: underline;
}